<h3>以下の内容で、投稿する。</h3>
<%= form_with(model: @post,local: true, url: posts_path) do |form| %>
  <%= form.hidden_field :content %>
  <p>つぶやき：<%= @post.content %></p>
  <br>
  <%= form.submit "投稿する"%>
  <%= form.submit "戻る", name: 'back'%>
<% end %>
<footer class = "footer">
  <p>Copyright ©2021 MOOMY All RIGHTS RESERVED.</p>
</footer>
